@model VlasnikAutoceste

@{
  ViewBag.Title = "Novi vlasnički podaci";
}

<h2>Unos novog vlasnika</h2>

<form asp-action="Create" method="post">
  <div asp-validation-summary="All"></div>

  <div class="mb-3">
    <label asp-for="VlasnikIme" class="form-label"></label>
    <input asp-for="VlasnikIme" class="form-control" />
    <div class="form-text"><span asp-validation-for="VlasnikIme" class="text-danger"></span></div>
  </div>
  <div class="mb-3">
    <label asp-for="Oib" class="form-label"></label>
    <input minlength="11" maxlength="11" asp-for="Oib" class="form-control" />
    <div class="form-text"><span asp-validation-for="Oib" class="text-danger"></span></div>
  </div>
  <div class="text-center">
    <button class="btn btn-primary" type="submit">Dodaj</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
  </div>
</form>

@section scripts {
  <partial name="IncludeValidation" />
}