<ul>
<li><a asp-action="Autoceste">Autoceste-Kamere pdf</a></li>
<li><a asp-action="AutocesteExcel">Autoceste+vlasnici excel</a></li>
<li><a asp-action="AutocesteMDExcel">Autoceste Master-Detail excel</a></li>
</ul>